a{
	text-decoration: none;
	outline: none;
}


ul.nav {
    padding: 0px;
    background-color: #293895;
    text-align: center;
    justify-content: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 12px 20px;
    margin-left: 5px;
  }
  ul.nav > li:hover {
    background-color: #EB1C24;
  }
  ul.nav > li.active {
    background-color: #EB1C24 ;
  }
  ul.nav > li > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header-text{
    background: url('../images/titlel.svg') no-repeat bottom left;
    font-family: 'Roboto Slab', serif; 
    color: #293895;
    margin: 15px 15px 30px 10px;
    padding-bottom: 20px; 
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link{
    text-decoration: none;
    color:#000;
}
.card{
    margin-top: 5px;
    overflow:hidden;
}
.delete-icon{
    display: none;
    position: absolute;
    right: 10px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #727272;
}
.custom-button:hover {
  background-color: #EB1C24;
  color: white; 
}

.btn-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.custom-button {
  background-color: #293895;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px; 
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  border: none;
  border-radius: 5px;
}

.custom-button i{
  color:#EB1C24;
}

/* modal */
.modal-title {
  font-size: 20px; 
  color: #293895; 
  font-weight: 600; 
}

.btn-custom {
  width: 150px; 
  background-color: #293895; 
  color: white; 
  font-size: 18px; 
  font-weight: 500; 
  margin: 15px; 
}

.btn-custom:hover {
  background-color: #EB1C24;
  color: white; 
}

.close {
  background-color: white; 
  border: none; 
}

.form-group {
  margin: 15px; 
  font-size: 18px; 
  color: black; 
  font-weight: 500; 
}

.btn-primary {
  background-color: #293895; 
  border: none; 
  color: white; 
}

.btn-primary:hover {
  background-color: #EB1C24;
  color: white; 
}
/**/

/* accordion */
.announce-accordion {
  width: 700px;
  padding-bottom: 20px; 
  margin-left: 80px; 
}

.announce-accordion .accordion-item {
  border-radius: 5px; 
  border: 1px solid #ccc;
}

.announce-accordion .accordion-header {
  font-weight: 600;
  background-color: white; 
  color: #000000; 
  padding: 10px; 
  cursor: pointer; 
  text-align: left; 
  border: none; 
  outline: none; 
  font-size: 16px; 
}

.announce-accordion .accordion-content {
  font-family: 'Roboto', sans-serif; 
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.5s ease-out; 
}

.announce-accordion p {
  padding: 10px; 
}
/**/