.navbar-nav .nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    margin-bottom: -2px;
  }
.navbar-nav .nav-link:hover {
    color: #293895 !important;
    border-bottom-color: #EB1C24;
}

.navbar-brand img {
    margin-left: 20px; 
}

.dropdown-menu {
    max-width: 500px; 
    left: auto !important; 
    right: 0; 
    top: 100%; 
}

.dropdown-toggle::after {
    display: none; 
}