
.theForm{
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.signin-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
  }
.header_text{
    margin-top: 35px;
    margin-bottom: 25px;
    color: #293895;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tittle_text{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.form-control{
    background-color:#F6F6F6;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border:none;
    height:49px;
    width: 300px;
    }
.btn-click{
    margin-top: 20px;
    justify-content: center;
    width:300px;
    margin-left: 45px;
    margin-bottom: 40px;
    background-color: #293895;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height:52px;
}
.error-message {
    color: red;
}
.link{
    text-decoration: none;
    color: #293895;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

