.header-text{
    color: #293895;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tb-row{

}
.td-head{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.th-custom{
    color:#000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.td-custom{
    color:#000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}