a{
	text-decoration: none;
	outline: none;
}


ul.nav {
    padding: 0px;
    background-color: #293895;
    text-align: center;
    justify-content: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 12px 20px;
    margin-left: 5px;
  }
  ul.nav > li:hover {
    background-color: #EB1C24;
  }
  ul.nav > li.active {
    background-color: #EB1C24 ;
  }
  ul.nav > li > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

.sub{
  margin-left:0px;

}

.custom-button:hover {
  background-color: #EB1C24;
  color: white; 
}

.btn-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.custom-button {
  background-color: #293895;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px; 
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  border: none;
  border-radius: 5px;
}

.custom-button i{
  color:#EB1C24;
}

  

.header_text{
    background: url('../images/titlel.svg') no-repeat bottom left;
    font-family: 'Roboto Slab', serif; 
    color: #293895;
    margin: 15px 15px 30px 10px;
    padding-bottom: 20px;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-custom{
  background: #293895;
  color:#FFF;
  border-radius: 5px;
  border:none;
  font-weight: 700px;
  font-size: 16px;
  margin-top: 10px;
}
.btn-custom:hover{
  background:#EB1C24;
  color:#FFF;
}
.td-head{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.th-custom{
  color:#000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.td-custom{
  color:#000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}