.header-text{
    background: url('../images/titlel.svg') no-repeat bottom left;
    font-family: 'Roboto Slab', serif; 
    color: #293895;
    margin: 15px 15px 30px 10px;
    padding-bottom: 20px; 
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accordion {
  margin-top: 20px; 
  width: 700px; 
  padding-bottom: 20px; 
}

.accordion-button {
  font-weight: 600; 
}

.accordion-button::after {
  display: none; 
}

.custom-button:hover {
    background-color: #EB1C24;
    color: white; 
}

.btn-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.custom-button {
    background-color: #293895;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px; 
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    border: none;
    border-radius: 5px;
}

.custom-button i{
    color:#EB1C24;
}

/* modal */
.modal-title {
    font-size: 20px; 
    color: #293895; 
    font-weight: 600; 
  }
  
  .btn-custom {
    width: 150px; 
    background-color: #293895; 
    color: white; 
    font-size: 18px; 
    font-weight: 500; 
    margin: 15px; 
  }
  
  .btn-custom:hover {
    background-color: #EB1C24;
    color: white; 
  }
  
  .close {
    background-color: white; 
    border: none; 
  }
  
  .form-group {
    margin: 15px; 
    font-size: 18px; 
    color: black; 
    font-weight: 500; 
  }
  
  .btn-primary {
    background-color: #293895; 
    border: none; 
    color: white; 
  }
  
  .btn-primary:hover {
    background-color: #EB1C24;
    color: white; 
  }
  /**/