.header-text{
    background: url('../images/titlel.svg') no-repeat bottom left;
    font-family: 'Roboto Slab', serif; 
    color: #293895;
    margin: 15px 15px 30px 10px;
    padding-bottom: 20px; 
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link{
    text-decoration: none;
    color:#000;
}
.card{
    margin-top: 5px;
    overflow:hidden;
}
.delete-icon{
    display: none;
    position: absolute;
    right: 10px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #727272;
}

.custom-button:hover {
    background-color: #EB1C24;
    color: white; 
}

.btn-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.custom-button {
    background-color: #293895;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px; 
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    border: none;
    border-radius: 5px;
}

.custom-button i{
    color:#EB1C24;
}