.navbar-nav .nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    margin-bottom: -2px;
  }

.navbar-nav .nav-link:hover {
    color: #293895 !important;
    border-bottom-color: #EB1C24;
}

.navbar-brand img {
    margin-left: 20px; 
}

.dropdown-menu {
    max-width: 500px; 
    left: auto; 
    right: 0; 
}

.dropdown-toggle::after {
    display: none; 
}

.navbar2 {
    background-color: #293895; 
    overflow: hidden; 
    margin-bottom: 5px; 
}

.navbar2 a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 14px; 
    text-decoration: none; 
}

.navbar2 a:hover {
    background-color: #EB1C24;
    color: white; 
}