.header-text{
    background: url('../images/titlel.svg') no-repeat bottom left;
    font-family: 'Roboto Slab', serif; 
    color: #293895;
    margin: 15px 15px 30px 10px;
    padding-bottom: 20px; 
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.custom-button{
    background-color: #293895;
    color:#FFF;
    width: 200px;
    font-size: 18px;
    font-weight: 600px;
}
.custom-button:hover{
    background-color: #EB1C24;
    color:#FFF;
}
.total{
    font-size: 15px;
}