.header-text{
    font-size: 37px;
    line-height: 1.3; 
    color: #2A3C95;
    font-weight: 700; 
    font-family: 'Roboto Slab', serif; 
    margin: 15px;
    background: url('../images/titlel.svg') no-repeat bottom left;
    text-align: left; 
    padding-bottom: 20px; 
}

a {
    text-decoration: none; 
}

.training {
    margin-top: 20px; 
}

.course-card {
    border: none; 
}

.year-btn {
    margin-left: 80px; 
    border: none; 
    background-color: #293895;
}

.yearCourse {
    list-style-type: none; 
}

.courseList {
    margin-left: 50px; 
}

.courseName {
    font-size: 18px; 
    color: #293895;  
}

.courseName:hover {
    color: #EB1C24;
}

.btn-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.custom-button {
    background-color: #293895;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px; 
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    border: none;
    border-radius: 5px;
    margin-left: 10px; 
}

.custom-button:hover {
    background-color: #EB1C24;
    color: white; 
}

/* modal */
.modal-title {
    font-size: 20px; 
    color: #293895; 
    font-weight: 600; 
}

.btn-custom {
    width: 100px; 
    background-color: #293895; 
    color: white; 
    font-size: 18px; 
    font-weight: 500; 
    margin: 15px; 
}

.btn-custom:hover {
    background-color: #EB1C24;
    color: white; 
}

.close {
    background-color: white; 
    border: none; 
}

.form-group {
    margin: 15px; 
    font-size: 18px; 
    color: black; 
    font-weight: 500; 
}
/**/

a {
    text-decoration: none; 
}

.training {
    margin-top: 20px; 
}

.course-card {
    border: none; 
}

.major-btn { 
    border: none; 
    background-color: transparent;
    color: #293895; 
    font-size: 20px;
    font-weight: 700; 
}

.major-btn:hover {
    color: #EB1C24; 
}

.trainMajor {
    list-style-type: none; 
}

.yearMajor {
    font-size: 20px; 
    color: #293895;  
}

.yearMajor:hover {
    color: #EB1C24;
}