footer {
    background-image: url(image/background_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.white-logo{
    margin-top:55px;
    margin-bottom: 22px;
}

.infor{
    margin-left:180px;
    margin-bottom: 100px;
}
.detail{
    color: #DBE0FC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-detail{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.divider{
    color:#FFF;
    height:1px;
}
.icon-footer{
    color:#9DA9EC;
    margin-right: 9px;
}

